name: coverage

on: ["push", "pull_request"]

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julia-actions/setup-julia@v1
    - uses: julia-actions/julia-buildpkg@latest
    - uses: julia-actions/julia-runtest@latest
    - uses: coverallsapp/github-action@v2
